@keyframes dingadingaling {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(20deg);
    }

    20% {
        transform: rotate(-20deg);
    }

    30% {
        transform: rotate(20deg);
    }

    40% {
        transform: rotate(-20deg);
    }

    50% {
        transform: rotate(20deg);
    }

    60% {
        transform: rotate(-20deg);
    }

    70% {
        transform: rotate(20deg);
    }

    80% {
        transform: rotate(-20deg);
    }

    90% {
        transform: rotate(20deg);
    }

    100% {
        transform: rotate(0deg);
    }
}



@keyframes rotateStar {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}



@keyframes fwipTop {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0%);
    }
}



@keyframes StarRotateAbout {

    0%,
    23% {
        transform: rotate(0deg);
    }

    25%,
    47% {
        transform: rotate(-90deg);
    }

    50%,
    72% {
        transform: rotate(-180deg);
    }

    75%,
    97% {
        transform: rotate(-270deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}


